api:
  version: v1.0

spring:
  config:
    activate:
      on-profile: dev
  devtools:
    add-properties: true
  # cau hinh moi truong
  datasource:
    url: jdbc:postgresql://localhost:5439/postgres
    username: postgres
    password: 123
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update

  #Email sender
  mail:
    from: ${MAIL_FROM:DUMMY_MAIL_FROM}
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:DUMMY_MAIL_USERNAME}
    password: ${MAIL_PASSWORD:DUMMY_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

# application-dev.yml
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
openapi:
  service:
    api-docs: backend-service
    server: http://localhost:${server.port}
    title: Backend service
    version: 1.0.0

jwt:
  expiryMinutes: 60
  expiryDay: 14
  accessToken: ${SECRET_KEY_ACCESS_TOKEN:DUMMY_ACCESS_KEY}
  refreshToken: ${SECRET_KEY_REFRESH_TOKEN:DUMMY_REFRESH_KEY}


